@media screen and (max-width:480px){

*{

margin:0;

padding:0;

box-sizing:border-box;

}

header{

background:none;

width:100%;

height:0px;

}

header img{

visibility:hidden;

height:0;

}

.mainNav,.header-box{

visibility:hidden;

height:0;

}

.column{

width:100%;

}

.sign-up-acc{

width:95%;

border-radius:10px;

transition:.5s;

}

.sign-up-acc h1{

font-size:100%;

font-weight:350%;

}

.sign-up-acc:hover{

transform:scale(1.03);

}

.footer h1{

font-size:120%;

}

.footer ul li a{

font-size:80%;

}

.copy{

font-size:80%;

}

/*

Reponsive Side Bar Navigation

*/

header .min-nav{

background:#f80;

color:#fff;

visibility:visible;

height:50px;

padding:5px;

}

header .min-nav.open-sidebar{

float:left;

}

header .open-sidebar-header{

float:right;

font-size:70%;

font-family:serif;

font-weight:bold;

position:absolute;

top:3%;

left:20%;

}

.min-sidebar{

width:0%;

height:100%;

position:fixed;

top:0;

left:0;

background:#000;

text-align:center;

overflow:hidden;

transition:.5s;

z-index:1;

overflow:hidden;

}

.min-sidebar a{

font-size:150%;

color:#818181;

display:block;

transition:250ms;

}

.min-sidebar a:hover{

color:#fff;

background:#181818;

}

.min-sub-nav ul li{

padding:8px 0;

}

.closeBtn{

position:absolute;

top:20px;

right:35px;

}

.closeBtn:hover{

background:none;

}

.min-sub-nav{

margin-top:200px;

}

#min-sidebar{

display:block;

width:100%;

}

}
